<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Blank
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
		<ion-row>
			<ion-col>1</ion-col>
			<ion-col>2</ion-col>
			<ion-col>3</ion-col>
			<ion-col>4</ion-col>
			<ion-col>5</ion-col>
			<ion-col>6</ion-col>
			<ion-col>7</ion-col>
			<ion-col>8</ion-col>
			<ion-col>9</ion-col>
			<ion-col>10</ion-col>
			<ion-col>11</ion-col>
		</ion-row>
	</ion-grid>
	<!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content> </ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<ion-item
			(click)="showModal(item)"
			color="dark"
			lines="full"
			*ngFor="let item of items"
			[routerLink]="['/tabs/tab1/detail', item.id.value]"
		>
			<ion-thumbnail slot="start">
				<img src="{{item.picture.large}}" alt="" />
			</ion-thumbnail>
			<p>
				{{ item.name.first }} {{ item.name.last }}
			</p>
		</ion-item>
	</ion-list>
	<pre>{{ location | json }}</pre>
	<img *ngIf="photo" [src]="photo" alt="" />
	<ion-button (click)="takePhoto()">Take Photo</ion-button>
	<ion-button (click)="showAlert()">Show Alert</ion-button>
	<ion-button (click)="showModal()">Show Modal</ion-button> -->
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-title>Footer One</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-title>Footer Two</ion-title>
	</ion-toolbar>
</ion-footer>
